<% provide(:title, "About") %>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fermentum leo vitae posuere iaculis. Nullam vulputate ligula et orci dictum porta in nec ligula. Quisque ac odio a velit posuere imperdiet. Nulla eget risus justo. Maecenas consequat laoreet nulla et pharetra. Sed ac erat sit amet elit laoreet accumsan. Vivamus mollis sed mi nec semper. Cras ullamcorper rhoncus faucibus.
</p>
